src/main/resources/xsd/OFX_Messages.xsd

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<xsd:schema 
  targetNamespace="http://ofx.net/types/2003/04" 
  xmlns:ofx="http://ofx.net/types/2003/04" 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
  elementFormDefault="unqualified">

  <xsd:complexType name="SignonRequestMessage" abstract="true"/>
  <xsd:complexType name="SignonResponseMessage" abstract="true"/>

  <xsd:complexType name="RequestMessage" abstract="true"/>
  <xsd:complexType name="ResponseMessage" abstract="true"/>

  <xsd:complexType name="ReferenceInfo" abstract="true"/>

  <xsd:complexType name="HeaderMessage" abstract="true"/>

</xsd:schema>
